/* src/components/ProductCard.css */
.product-card {
  background: linear-gradient(135deg, #94a6bb, #3d86aa);
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  width: 220px;
  text-align: flex-start;
  transition: all 0.3s ease; 
}

.product-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
  background: linear-gradient(135deg, #94a6bb, #4a92b6);
  border-color: #aac4ff; 
}


.product-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #222;
}

.product-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.price {
  color: #007BFF;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}
